body {
  min-height: 100vh;
  max-width: 100%; /* Establece un ancho máximo */
  overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal si es necesario */
  /*background: linear-gradient(#4c0080, #ad33ff);*/
  background-color: #23192b;
}
/* Media query para pantallas más grandes (PC) */
.inp {
  width: 500px; /* Cambia el ancho a 600px en pantallas más grandes */
}

/*Nav Bar*/
.navbar{
  background-color: #5B377D;
}
.navbar-collapse{
  margin-top: 0%;
}

.nav-link{
  color: rgba(255, 255, 255, 0.555);
  &:hover{
    color: #fff;
  }
}

/**/

.nvv{
  margin-right: 1.5%;
  justify-content: space-between;
}
.btn2{
  background-color: #1ab188;
  &:hover{
    background-color: #1ab188;
  }
}
/*.btn2:hover{
  background-color: #f41303;
  box-shadow: 0 0 5px #f41303,
              0 0 25px #f41303,
              0 0 50px #f41303,
              0 0 100px #f41303;
}*/
/*Cards*/
.container-s{
  margin-left: 1%;
  margin-right: 1%;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 2em;
}
.card-home:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra en hover */
  transform: scale(1.05); /* Escala la tarjeta en hover */
  transition: all 0.3s ease; /* Aplica una transición suave */
}
.l-navbar {
  width: 15%;
  top: 0;
  left: -30%;
  height: 100vh;
  background-color: white;
  padding: .5rem;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

/*  Filtros  */






/*Medidas de Pantalla*/
@media screen and (max-width: 992px) {
  .menu-vertical{
    width: 100%;
    left: 0;
  }
  /* Estilos personalizados */
.inp {
  width: 100%; /* Establece el ancho completo por defecto */
}
.navbar-collapse{
  justify-content: center;
  float: left;
  margin-top: 5%;
}



}
@media screen and (min-width: 992px) {
  /* Estilos personalizados */
  .inp {
    width: 500px; /* Cambia el ancho a 600px en pantallas más grandes */
    
  }
  .navbar-collapse{
    margin-top: 0%;
  }
  .nvv{
    margin-right: 1.5%;
    justify-content: space-between;
  }
  .col-titulo{
    padding-left: 100px;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .footer p{
    color: #bbb;
  }

  
}
@media (min-width: 1200px) {

  /* Estilos personalizados */
.inp {
  width: 700px; /* Establece el ancho completo por defecto */
  
}

}


/*Parte del Pefil*/
.menu-vertical {
  list-style: none;
  text-decoration: none;
  position: absolute;
  background-color: #dee2e6;
  width: 200px;
  padding: 0;
  justify-content: space-around;
  right: 0;
  z-index: 3;
  display: none;
}

.menu-vertical li:hover{
  background-color: rgb(43, 42, 42);
}
.email-link:hover .menu-vertical {
  display: block;
}
.menu-vertical li a{
  display: block;
  color: white;
  padding: 8px 8px;
  text-decoration: none;
}
.menu-vertical li{
  list-style: none;
  text-decoration: none
}
.btn-Ingresar{
  background-color:  #3d2850;
  transition:.5s ease;
  &:hover{
    background-color: #956bbd;
  }
}

.campo {
  margin-bottom: 15px;
}

.campo label {
  display: block; 
  margin-bottom: 0;
}


/*footer*/

.footer {
  position: relative;
  left: 0;
  bottom: 0;
}
.footer p{
  color: #bbb;
}

.text-footer li a{
  
  transition: all .3s ease;
  text-decoration: none;
  color: #bbb;
}

.text-footer li a:hover{
  color: #fff;
  padding-left: 6px;
}

.footer-socialIcons a{
margin-left: 3%;
display: inline-block;
height: 40px;
width: 40px;
text-decoration: none;
color: #fff;
align-items: center;
border-radius: 50%;
transition: all 0.5s ease;
}
.footer-socialIcons a:hover{
  color: #272727;
  background-color: #fff;
  }

.fa-brands{
  font-size: 150%;
  margin-top: 20%;
  margin-left: 25%;

}




/*Dentro del Inmueble*/

.inm-container{
  padding: 0%;
  box-shadow: 0 0 30px rgb(52, 22, 87),
              0 0 25px rgb(52, 22, 87),
              0 0 50px rgb(52, 22, 87),
              0 0 100px rgb(52, 22, 87);
}
.columna-c{
  border: 1px solid #333;
  padding: 10px;
  background: linear-gradient(to bottom, #fff, #eee);
  border-radius: 3px;
  width: 5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  /*margin: 10px;
  padding: 10px;*/
}
.owner-cont{
  border: 2px solid #333;
  padding: 10px;
  background: linear-gradient(to bottom, #fff, #eee);
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.contenedor-com{
  margin-top: 7%;
}
.img-Container{
  display: inline-block;
  width: 12%;
  height: 12%;
  cursor: pointer;
  
}
.img-Container img{
  transition: all .1s ease;
}
.img-Container img:hover{
  transform: scale(0.9);
}

.comment-box{
  margin-top:50px;
  margin-left: 18px;
  width: 880px;
  background-color: #c7c7c7;
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  border-radius: 4px;
}
.comment-box:after {
content: '';
height: 0;
width: 0;
position: absolute;
display: block;
border-width: 10px 12px 10px 0;
border-style: solid;
border-color: transparent #c7c7c7;
top: 8px;
left: -11px;
}

.comment-box:before {
border-width: 11px 13px 11px 0;
border-color: transparent rgba(0,0,0,0.05);
left: -12px;
}
.comment-box .comment-head {
padding: 3px 7px;
border-bottom: 1px solid #6e6e6e;
overflow: hidden;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
}
/* .comment-box button{
  float: right;
  background-color: rgb(160, 22, 22);
} */

.comment-box .comment-content{
  padding: 15px;
  font-size: 15px;
}



input[type = "radio"]{ display:none;}

.continaer-stars label:hover{color:orange;}

.clasificacion{
text-align: left;
      direction: rtl;/* right to left */
      unicode-bidi: bidi-override;/* bidi de bidireccional */
  }

.continaer-stars label:hover

.clasificacion input[type = "radio"]{ display:none;}

.clasificacion label:hover{color:orange;}

.clasificacion{
text-align: left;
      direction: rtl;/* right to left */
      unicode-bidi: bidi-override;/* bidi de bidireccional */
  }

label:hover ~ label{color:orange;}

input[type = "radio"]:checked ~ label{color:orange;} ~ .clasificacion label{color:orange;}

input[type = "radio"]:checked ~ label{color:orange;}

#estrellas{
  font-size:40px;
}



/*Perfil*/


.sidebar-item.active, .sidebar-item:hover {
  background-color: #fff;
  border: 1px solid #e6e7e9;
  border-right: 0;
  margin-right: -1px;
}

.sidebar-menu {
  border-bottom: 1px solid #e6e7e9;
  border-top: 1px solid #e6e7e9;
  border-right: 1px solid #e6e7e9;
  padding-bottom: calc(40vh - 1rem);
  padding-top: 1rem;
  background-color: #f4f4f4;
}

.sidebar-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0.5rem;
  border: 1px solid transparent;
}

.sidebar-item.active:hover {
  background-color: #fff;
}

.card .icon-big {
  font-size: 3rem;
}

.card .icon-big .notif {
  position: absolute;
  min-width: 25px;
  border-radius: 5rem;
  font-size: 1rem;
  background: #dc3545;
  color: #fff;
}

.card .numbers {
  text-align: right;
}

.card .numbers p {
  font-size: 1rem;
  margin: 0;
}

.card .footer {
  padding: 0;
  line-height: 30px;
}

.side-notif {
  padding-left: 7px;
  padding-right: 7px;
  font-size: 0.8rem;
  border-radius: 5rem;
  background-color: #dc3545;
  color: #fff;
}

.statistics li {
  padding: 0.25rem 0;
}

.member-item:hover .card {
  background-color: #f4f4f4;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}

@media (max-width: 767.98px) {
  .sidebar-item.active, .sidebar-item:hover {
    border-right: 1px solid #e6e7e9;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}

.co-2{
  margin-left: 3%;
  margin-top: 5%;
}
.perfil-pag{
  &::before {
    content: "";
    position: absolute;
    width: 123px;
    height: 123px;
    left: 60%;
    top: 138px;
    filter: blur(100px);
    background-color: #FB37FF;
  }
  &::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 123px;
    left: 30%;
    top: 550px;
    background-color: #172e94;
    filter: blur(80px);
  }
}

.contenedor {
  width: 450%;
}

.cont-p{
  border: 2px solid;
  width: 100%;
  height: 100%;
  padding: 5%;
  color: #ffffff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  border-radius: 10px;
  background-color: #5B377D;
}

.btn-crearPost{
  margin-left: 35%;
  width: 30%;
  display: inline-flex;
  height: 40px;
  border: 3px solid rgb(198, 65, 231);
  padding: 10px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
}

#dub-arrow i {
  font-size: 24px; /* Cambia el tamaño del ícono a tu preferencia, por ejemplo, 24px */
}

.btn-crearPost:hover{
  background-color: transparent;
}

.btn-crearPost span{
  transition: all .35s ease-Out;
  color: rgb(198, 65, 231);
  text-decoration: none;
  letter-spacing: 1px;
  position: relative;
  left: 0;
}

.btn-crearPost:hover span{
  left: 100%;
}

#dub-arrow {
  width: 100%; /* Cambia el ancho al 100% para que la flecha esté completamente dentro del botón */
  height: 100%; /* Cambia la altura al 100% para que la flecha esté completamente dentro del botón */
  background: rgb(198, 65, 231);
  color: #ffffff;
  position: absolute;
  top: 0;
  left: -100%; /* Oculta la flecha inicialmente */
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .35s ease-out;
}

.btn-crearPost:hover #dub-arrow {
  left: 0%;
}

/*Subir Inmueble*/


.card-prev{
  height: 50%;
  border: none;
  padding: 0%;
  background-color: transparent
}

.card-prev i {
  display: none;
  position: absolute;
  color: #f0f0f0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 600%;
  transition: all .3s;
  z-index: -1;
  pointer-events: none;
}

.card-prev:hover i {
  display: block;
  z-index: 0;
}

.prev-img{
  transition: all .4s;
  
}

.prev-img:hover{
  opacity: 0.4;
}

.img-Load{
  width:60%;
  max-width:800px;
  content:"Upload your file";
  left:0;
  right:0;
  margin:50px auto;
  text-align:center;
  padding:50px 0px 50px 0px;
  border-radius:10px;
  border:5px dashed #ccc;
  color:#ccc;
}

.img-LoadInput{
  width: 0px;
  height: 0px;
}

#app-cover {
  display: table;
  width: 800px;
}

.toggle-button-cover {
  display: table-cell;
  position: relative;
  width: 160px;
  height: 110px;
  box-sizing: border-box;
  border: 2px solid;
}



.button-cover:before {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -20px 10px;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}
#button-1 .knobs:before {
  content: ""; /* Remove the content */
  position: absolute;
  top: 3px;
  left: 42px;
  width: 30px;
  height: 30px;
  background-color: #f44336;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}


#button-1 .checkbox:checked + .knobs:before {
  content: "";
  left: 3px;
  background-color: #03a9f4;
}

#button-1 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
  transition: 0.3s ease all;
}




